<H1>hi</H1>
<form action="/api/organizations/652/logos" method="post" enctype="multipart/form-data">
  <input type="file" name="image" id="image">
  <input type="text" name="image_mime" id="image_mime">
  <input type="text" name="image_format" id="image_format">
  <button type="submit">Submit</button>
</form>