{#if context.group == "openhwgroup"}
  {#if context.isPDF}
    <p>As a new Member:</p>
    <ol>
      <li>You agree to publicly support the Eclipse Foundation and its Purpose.</li>
      <li>You acknowledge your commitment in principle to comply with the Bylaws, the Internal Rules, the Eclipse Foundation Antitrust Policy, IP Policy, and any and all additional policies, procedures and other governing rules of the Eclipse Foundation.</li>
      <li>You agree to provide Eclipse Foundation with your logo (or instructions to obtain your logo) in accordance with Section 2.3 of the Eclipse Foundation Membership Agreement. When providing your logo, be sure to include a reference or link to any logo and trademark usage guidelines you have.<br />
      Our Membership Coordination team will work with you to complete this after your Membership Application is processed.</li>
    </ol>
    <p>Thank you for completing the Membership Application Process. This PDF captures the information you have provided to us. Please review this information as it becomes a part of your formal application to the Eclipse Foundation.</p>
    <p>Should you wish to update any of the information, please reach out to our Membership team at <a href="mailto:membership.coordination@openhwgroup.org">membership.coordination@openhwgroup.org</a></p>
  {/if}
  <hr style="margin:40px 20px "></hr>
  <p style="text-align: center">This is an automatic message from <a href="https://membership.eclipse.org">https://membership.openhwgroup.org</a></p>
  <p style="text-align: center">Twitter: <a href="https://twitter.com/openhwgroup">@openhwgroup</a></p>
{#else}
  {#if context.isPDF}
    <p>As a new Member:</p>
    <ol>
      <li>You agree to publicly support the Eclipse Foundation and its Purpose.</li>
      <li>You acknowledge your commitment in principle to comply with the Bylaws, the Internal Rules, the Eclipse Foundation Antitrust Policy, IP Policy, and any and all additional policies, procedures and other governing rules of the Eclipse Foundation.</li>
      <li>You agree to provide Eclipse Foundation with your logo (or instructions to obtain your logo) in accordance with Section 2.3 of the Eclipse Foundation Membership Agreement. When providing your logo, be sure to include a reference or link to any logo and trademark usage guidelines you have.<br />
      Our Membership Coordination team will work with you to complete this after your Membership Application is processed.</li>
    </ol>
    <p>Thank you for completing the Membership Application Process. This PDF captures the information you have provided to us. Please review this information as it becomes a part of your formal application to the Eclipse Foundation.</p>
    <p>Should you wish to update any of the information, please reach out to our Membership team at <a href="mailto:membership.coordination@eclipse-foundation.org">membership.coordination@eclipse-foundation.org</a></p>
  {/if}
  <hr style="margin:40px 20px "></hr>
  <p style="text-align: center">This is an automatic message from <a href="https://membership.eclipse.org">https://membership.eclipse.org</a></p>
  <p style="text-align: center">Twitter: <a href="https://twitter.com/EclipseFdn">@EclipseFdn</a></p>
{/if}